<h1>Please enter contact information</h1>

<form method="post" action="handle_submission">
	<label>First Name</label>
	<input type="text" name="first_name"><br>
	<label>Last Name</label>
	<input type="text" name="last_name"><br>
	<label>Street Address</label>
	<input type="text" name="street_address"><br>
	<label>City</label>
	<input type="text" name="city"><br>
	<label>State</label>
	<input type="text" name="state"><br>
	<label>Zipcode</label>
	<input type="text" name="zipcode"><br>
	<label>Phone Number</label>
	<input type="tel" name="phone" pattern="^\d{1}-\d{3}-\d{3}-\d{4}$" required>Format: #-###-###-####<br>
	<input type="submit" value="Submit">
</form>
