<head>
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
<!-- Navigation Links -->
  <div id="top_navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/show_submission">Show Submission</a></li>
      <li><a href="/show_all_contacts">Display/Update Contacts</a></li>
      <li><a href="/search_contacts">Search Contacts</a></li>
      <li><a href="/registration">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
      <li style="color: black;">User <%= session[:username] %></li>
    </ul>

	  <!-- LOGO -->
	  <img id="logo" src="/images/mm_logo.jpg" alt="LOGO">
	</div>

  <!-- MAIN CONTAINER -->
  <div id="main_container">
    <!-- PAGE CONTENT -->
    <%=yield%>
  </div>


  <!-- FOOTER -->
  <footer>
  <a href="mined_minds.org"></a>
  </footer>

<!-- <script src="/js/app.js"></script> -->
</body>

</body>
