<h1>Please Enter A Username and Password</h1>

<form method="post" action="login">
	<label>USERNAME</label>
	<input type="text" name="username"><br>
	<label>PASSWORD</label>
	<input type="text" name="password"><br>
	<input type="submit" value="Submit">
</form>
