<h3> Search Contacts </h3>

<form id="search_form" method="post" action="search_contacts">
	<label>First Name</label>
	  <input type="text" name="first_name"><br>
	<label>Phone Number</label>
	  <input type="text" name="phone"><br>
	<input type="submit" value="Submit">
</form>

<div id="search_results_display_area"><%= session[:search_table] %></div>
<script>
document.getElementById("search_form").addEventListener("submit", function(event){
	// Stop default aciton of form (submission of form)
	event.preventDefault();
	var search_form = document.getElementById("search_form");
	var formData = new FormData(search_form);
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		  // 4 means the stuff is ready to return
    	if (this.readyState == 4 && this.status == 200) {
			// Select response area and display response there
			document.getElementById("search_results_display_area").innerHTML = this.responseText;
    	}
	};
	xhttp.open("POST", "search_contacts", true);
	xhttp.send(new FormData(search_form));
</script>
