<h1> Submitted Information </h1>
	<%= session[:first_name] %><br>
	<%= session[:last_name] %><br>
	<%= session[:street_address] %><br>
	<%= session[:city] %><br>
	<%= session[:state] %><br>
	<%= session[:zipcode] %><br>
	<%= session[:phone] %><br>
