
<h1>All Listings</h1>


<table>
  <tr>
    <td></td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Street Address</td>
    <td>City</td>
    <td>State</td>
    <td>Zipcode</td>
    <td>Phone Number</td>
    <td>username</td>
    <td>Password</td>
  </tr>

<% db.exec("SELECT * FROM contacts").each do |contact| %>
<form method="post" <%= "name=\"#{contact['id']}\"" %> action="handle_update" >
  <tr>
    <td><%= "<input type=\"hidden\" name=\"id\" value=\"#{contact['id']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"first_name\" value=\"#{contact['first_name']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"last_name\" value=\"#{contact['last_name']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"street_address\" value=\"#{contact['street_address']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"city\" value=\"#{contact['city']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"state\" value=\"#{contact['state']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"zipcode\" value=\"#{contact['zipcode']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"phone\" value=\"#{contact['phone']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"phone\" value=\"#{contact['username']}\"" %></td>
    <td><%= "<input type=\"text\" name=\"phone\" value=\"#{contact['password']}\"" %></td>
    <td><input type="submit" value="Update"></td>
  </tr>
</form>
<% end %>

</table>
